.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px;
  width: 100%;
}

.select,
.search {
  width: 100%;
  max-width: 300px;
}

.logo {
  display: block;
  width: 50px;
  margin: 0 48px;
}
